html,
body
    height: 100%
    text-rendering: geometricprecision
    a 
        text-rendering: geometricprecision
    
// typography
body 
    font-size: 18px
    font-family: 'Archer'
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    &:before
        opacity: 0
        background-color: $black-color
        visibility: hidden
        pointer-events: none
        content: ''
        position: fixed
        width: 100%
        height: 100%
        left: 0
        top: 0
        transition: .4s all .4s
        z-index: 10

body.body-fixed
    &:before
        visibility: visible
        pointer-events: all
        opacity: 0.4
        
@media only screen and (max-width : 500px)
    
    body.body-fixed
        &:before
            display: none
       
        
.clearfix::after
    content: ""
    clear: both
    display: table
    
#main
    overflow: hidden

// other overall settings
+placeholder
    opacity: 1