// COLORS
// ---------------------------
$text: #444

$black-color: #000
$white-color: #fff
$theme-color: #A39161

// FONTS
// ---------------------------



// RESPONSIVE
// ---------------------------
