.our-story 
	text-align: center
	padding: 130px 0 140px
	align-items: center
	background-color: white
	font-weight: 300
	font-style: italic 
	@media (max-width: 1199px)
		padding: 100px 0 
	@media (max-width: 576px)
		padding: 80px 0
	
	p 
		font-size: 35px
		letter-spacing: 0.012em 
		line-height: 1.35em 
		@media (max-width: 767px)
			font-size: 22px
		@media (max-width: 576px)
			font-size: 20px
	a 
		font-size: 20px
		text-decoration: none
		font-style: normal 
		font-weight: 600
		display: inline-block
		margin-top: 15px
		color: #000
		@media (max-width: 991px)
			font-size: 20px
		@media (max-width: 576px)
			font-size: 14px
		


.case
	width: 50%
	display: block
	overflow: hidden
	
	@media (max-width: 991px)
		width: 100%

	&__cover
		display: block
		padding: 0
		width: 100%
		margin: 0
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		transition: all 1s ease-out
		
		&__wrap
			overflow: hidden
		
		img
			display: block
			width: 100%
			

		&:before
			display: block
			content: ''
			padding-top: 62.5%
			transition: all .2s ease-out
			
	&:hover &__cover
		transition: all 0.2s ease-out
		transform: scale(1.02)
		
			
	&__desc
		padding: 24px 65px
		color: #000
		line-height: 1.5em 
		font-size: 20px
		line-height: 30px  
		
		@media (max-width: 1199px)
			padding: 18px 40px
			font-size: 18px
			line-height: 26px  
			
		@media (max-width: 991px)
			padding: 18px 50px
			
		@media (max-width: 767px)
			padding: 18px 50px
			
		@media (max-width: 575px)
			padding: 10px 35px
			font-size: 16px
			line-height: 20px
			
		@media (max-width: 420px)
			padding: 5px 35px
			font-size: 12px
			line-height: 16px  
		
		&__title
			font-weight: 700 
			position: relative
			
			&:before
				content: ''
				width: 0
				height: 0
				border-style: solid
				border-width: 10px 0 10px 9px
				border-color: transparent transparent transparent #000000
				position: absolute
				left: -25px
				top: 0.4em
				-webkit-transform: translateY(-50%)
				-ms-transform: translateY(-50%)
				transform: translateY(-50%)
				opacity: 0
				transform: translateX(-20px)
				transition: all .2s ease-out
				@media (max-width: 575px)
					display: none

	&:hover
		.case__cover
			background-position: center 60%
			&:before
				background-color: rgba(0,0,0,.2)
		.case__desc__title
			&:before
				opacity: 1
				transform: translateX(0px)


.large-button
	width: 100%
	position: relative
	display: block
	background-color: #F6F6F6
	color: $theme-color
	font-size: 65px
	font-style: italic
	border: 0
	line-height: 78px
	padding: 100px 65px 110px
	cursor: pointer
	text-align: center
	transition: all .6s ease-out
	&__default-text
		display: inline-block
		transition: .2s all .2s ease-out
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
	&__loading-text,
	&__disabled-text
			display: inline-block
			transition: all .2s ease-out
			opacity: 0
			visibility: hidden
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)

	&.loading
		.large-button__default-text
			opacity: 0
			visibility: hidden
			transition-delay: 0
		.large-button__loading-text
			opacity: 1
			visibility: visible
			transition-delay: .2s

	&.disabled
		pointer-events: none
		.large-button__loading-text,
		.large-button__default-text
			opacity: 0
			visibility: hidden
			transition-delay: 0
		.large-button__disabled-text
			opacity: 1
			visibility: visible
			transition-delay: .2s
	
	@media (max-width: 1199px)
		font-size: 60px
		line-height: 1em
		padding: 80px 50px
		
	@media (max-width: 991px)
		font-size: 35px
		padding: 57.5px 50px   
		
	@media (max-width: 767px)
		font-size: 20px
		padding: 50px 40px
		
	@media (max-width: 575px)
		padding: 50px 35px  

	
	&.has-bg
		background-position: 50%
		background-repeat: no-repeat 
		background-size: cover  
	




.figure
	display: block
	margin: 0 auto
	position: relative
	overflow: hidden
	
	img
		display: block
		width: 100% 
		position: static
		
	figcaption
		color: #fff
		font-size: 20px
		line-height: 30px
		position: absolute
		left: 0
		right: 0
		bottom: 0
		width: 100%
		padding: 20px 65px 23px
		z-index: 2
		
		@media (max-width: 991px)
			padding: 18px 50px
		
		@media (max-width: 575px)
			padding: 18px 35px
			font-size: 12px 
			line-height: 1em 


	&.placeholder
		img 
			opacity: 0
			transition: opacity 1s linear
			position: absolute
			left: 0
			top: 0
			width: 100%
			&.loaded
				opacity: 1

			&.img-small
				filter: blur(80px)
				transform: scale(1)
				position: static
				@media (max-width: 991px)
					filter: blur(40px)
				@media (max-width: 500px)
					filter: blur(30px)
		




.text-block
	padding: 100px 65px
	font-size: 16px
	
	@media (max-width: 1199px)
		padding: 80px 50px
		
	@media (max-width: 991px)
		padding: 66px 50px
		
		[class*='col-']
			&:not(:last-child)
				margin-bottom: 66px 
				
	@media (max-width: 575px)
		padding: 40px 35px
		font-size: 12px 
		
		[class*='col-']
			&:not(:last-child)
				margin-bottom: 40px 

	
	[class*='col-']
		&:first-child
			.text-block-part
				padding-right: 50px 
				
				@media (max-width: 1199px)
					padding-right: 35px
					
				@media (max-width: 991px)
					padding-right: 0
				
		&:last-child
			.text-block-part
				padding-left: 50px 
				
				@media (max-width: 1199px)
					padding-left: 35px
					
				@media (max-width: 991px)
					padding-left: 0
	
	h3.text-block__title
		font-size: 23px
		
		@media (max-width: 575px)
			font-size: 12px 
		
	h2.text-block__title,
	h1.text-block__title
		font-size: 30px 
		
		@media (max-width: 1199px)
			font-size: 26px
			
		@media (max-width: 991px)
			font-size: 30px  
			
		@media (max-width: 575px)
			font-size: 16px 
		

	&__title + &__content
		padding-top: 2em 

	

	&__content
		line-height: 1.9em
		
		a
			color: inherit
			
			&:hover
				text-decoration: underline
		
		
		p:not(:last-child)
			margin-bottom: 1.9em 
			

		address
			font-style: normal
			
			

	&__columns
		columns: 2
		column-gap: 130px
		
		@media (max-width: 1199px)
			column-gap: 100px
			
		@media (max-width: 991px)
			columns: 1
		
	&__image
		img
			display: block
			max-width: 100%
			margin: 0 auto



	&__socials
		list-style: none 
		color: inherit
		margin-left: -30px 
		@media (max-width: 991px)
			margin-left: 0
			margin-left: 70px
		@media (max-width: 767px)
			margin-left: 0
		
		a
			color: inherit
			position: relative
			padding-left: 30px 
			
			&:hover
				text-decoration: underline
				


			img
				position: absolute
				max-width: 16px
				left: 0
				top: 10px
				transform: translateY(-50%) 

	&.centered-image
		@media (min-width: 1500px)
			padding-left: 0
			padding-right: 0
			.text-block__content,
			.text-block__title
				margin-left: calc((100vw - 1470px + 80px) / 2)
		@media (min-width: 1200px)
			.text-block__image
				margin: 0 auto
				
				img 
					max-width: 1000px
		

.container--full
	@media (min-width: 1500px)
		max-width: 100%
	




.decorated-title
	line-height: 1.4em
	position: relative
	letter-spacing: -0.005em 
	
	&:before
		content: ''
		width: 0
		height: 0
		border-style: solid
		border-width: 15px 0 15px 14px
		border-color: transparent transparent transparent #000000
		position: absolute
		left: -25px
		top: 0.75em
		transform: translateY(-50%)
		
		@media (max-width: 575px)
			border-width: 8px 0 8px 8px
			left: -15px
		





.video-block
	a
		display: block
		width: 100%
		padding-top: 48.4%
		background-repeat: no-repeat 
		background-position: 50% 50%
		background-size: cover  
		position: relative
		

		&:before
			content: ''
			width: 90px
			height: 63px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			background-image: url(../assets/svg/play.svg) 
			background-size: 100% 
			transition: all 0.3s ease
			
			@media (max-width: 575px)
				width: 50px
				height: 35px
			
		&:hover:before
			transform: translate(-50%, -50%) scale(1.2)
		






.team-member
	width: 50%
	position: relative
	z-index: 1 
	margin-bottom: 80px 
	z-index: 1
	overflow: hidden
	display: block 
	
	
	@media (min-width: 992px)
		&:nth-last-of-type(-n+2)
			margin-bottom: 0
	
	@media (max-width: 991px)
		width: 100%
		margin-bottom: 60px 
		
		&:last-child
			margin-bottom: 0
			
	@media (max-width: 575px)
		margin-bottom: 50px 
			
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #000
		opacity: 0
		visibility: hidden
		z-index: 1  
		transition: all 0.3s ease
		
	&:hover
		&:after
			opacity: 0.3
			visibility: visible
	
	&__image
		display: block
		width: 100%
		position: relative
		z-index: 1 
		
	&__desc
		position: absolute
		bottom: 0
		left: 0
		right: 0
		width: 100%
		z-index: 3
		padding: 26px 65px
		font-size: 20px
		color: #fff
		transition: all 0.3s ease
		font-size: 20px
		line-height: 30px 
		
		@media (max-width: 991px)
			padding-left: 50px 
			padding-bottom: 23px 
		
		@media (max-width: 575px)
			padding: 20px 35px
			font-size: 16px 
			line-height: normal 
			
		.linkedin
			content: ''
			width: 57px
			height: 57px
			position: absolute
			display: block
			left: 0
			top: 50%
			transform: translate(-50%, -50%)
			z-index: 2
			transition: all 0.3s ease
			
			@media (max-width: 767px)
				width: 46px
				height: 46px
			
			&:after
				content: ''
				width: 22px
				height: 22px
				position: absolute
				top: 50%
				left: 50%
				background-color: #f6f6f6
				opacity: 1
				transform: translate(-50%, -50%) 
				transition: all 0.3s ease
			
			svg
				path
					fill: #f6f6f6
			
			@media (max-width: 575px)
				border-width: 11px 0 11px 9px
				bottom: 45px
		
		
		&__name,
		&__position
			display: block
			 
				
			
		&__name
			font-weight: 700 
			margin-bottom: -2px 
		
	&.hovered:hover &__desc
		padding-left: 107px
		 
		.linkedin
			left: 25px
			transform: translate(0, -50%)
			
			&:after
				opacity: 0




.map
	height: 700px
	
	.gmnoprint,
	.gmnoscreen,
	.gm-style-cc,
	.gm-style a[href*="/maps.google.com/"]
		display: none!important
		
	@media (max-width: 991px)
		height: 390px
	
	@media (max-width: 575px)
		height: 200px





.vacancy
	width: 50%
	display: block
	color: #000
	
	@media (max-width: 991px)
		width: 100%
	
	&__cover
		display: block
		width: 100% 
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		margin: 0

		&:before
			display: block
			content: ''
			padding-top: 62.5%
	
	.text-block
		color: inherit
		@media (max-width: 991px)
			padding-top: 21px
			padding-bottom: 52px
		&__content
			@media (min-width: 1200px)
				padding-top: 40px 
		

.vimeo-container
	& > div 
		position: relative
		padding: 56.26% 0 0 0 !important
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%