.our-story 
	text-align: center
	padding: 130px 0 140px
	align-items: center
	background-color: white
	font-weight: 300
	font-style: italic 
	@media (max-width: 1199px)
		padding: 100px 0 
	@media (max-width: 576px)
		padding: 80px 0
	
	p 
		font-size: 35px
		letter-spacing: 0.012em 
		line-height: 1.35em 
		@media (max-width: 767px)
			font-size: 22px
		@media (max-width: 576px)
			font-size: 20px
	a 
		font-size: 20px
		text-decoration: none
		font-style: normal 
		font-weight: 600
		display: inline-block
		margin-top: 15px
		color: #000
		@media (max-width: 991px)
			font-size: 20px
		@media (max-width: 576px)
			font-size: 14px
		


.case
	width: 50%
	display: block
	
	@media (max-width: 767px)
		width: 100%

	&__cover
		display: block
		padding: 0
		width: 100%
		margin: 0
		
		img
			display: block
			width: 100%
			
	&__desc
		padding: 24px 65px
		color: #000
		line-height: 1.5em 
		font-size: 20px
		line-height: 30px  
		
		@media (max-width: 1199px)
			padding: 18px 40px
			font-size: 18px
			line-height: 26px  
			
		@media (max-width: 991px)
			padding: 18px 20px
			
		@media (max-width: 767px)
			padding: 18px 65px
			
		@media (max-width: 575px)
			padding: 10px 20px
			font-size: 16px
			line-height: 20px
			
		@media (max-width: 420px)
			padding: 5px 20px
			font-size: 12px
			line-height: 16px  
		
		&__title
			font-weight: 700 
			font-size: 20px 
			



.large-button
	width: 100%
	position: relative
	display: block
	background-color: #F6F6F6
	color: $theme-color
	font-size: 65px
	font-style: italic
	border: 0
	line-height: 78px
	padding: 60px 65px 70px
	cursor: pointer
	text-align: center
	
	@media (max-width: 1199px)
		font-size: 60px
		line-height: 1em
		padding: 50px
		
	@media (max-width: 991px)
		font-size: 50px
		padding: 45px   
		
	@media (max-width: 767px)
		font-size: 45px
		padding: 40px
		
	@media (max-width: 575px)
		font-size: 40px
		padding: 35px  
		
	@media (max-width: 420px)
		font-size: 20px
		padding: 30px 15px 
	
	&.has-bg
		background-position: 50%
		background-repeat: no-repeat 
		background-size: cover  
	




.figure
	display: block
	margin: 0 auto
	position: relative
	
	img
		display: block
		width: 100% 
		
	figcaption
		color: #fff
		font-size: 20px
		line-height: 30px
		position: absolute
		left: 0
		right: 0
		bottom: 0
		width: 100%
		padding: 20px 65px 23px
		
		@media (max-width: 575px)
			padding: 18px 30px
			font-size: 12px 
			line-height: 1em 
		
		




.text-block
	padding: 100px 65px
	font-size: 16px
	
	&.contacts
		@media (min-width: 1200px)
			padding-top: 115px
			padding-bottom: 115px  
	
	@media (max-width: 1199px)
		padding: 80px 50px
		
	@media (max-width: 991px)
		padding: 65px 60px
		
		[class*='col-']
			&:not(:last-child)
				margin-bottom: 2em 
				
	@media (max-width: 575px)
		padding: 40px 25px
		font-size: 12px 

	
	[class*='col-']
		&:first-child
			.text-block-part
				padding-right: 50px 
				
				@media (max-width: 1199px)
					padding-right: 35px
					
				@media (max-width: 991px)
					padding-right: 0
				
		&:last-child
			.text-block-part
				padding-left: 50px 
				
				@media (max-width: 1199px)
					padding-left: 35px
					
				@media (max-width: 991px)
					padding-left: 0
	
	h3.text-block__title
		font-size: 23px
		
		@media (max-width: 575px)
			font-size: 12px 
		
	h2.text-block__title,
	h1.text-block__title
		font-size: 30px 
		
		@media (max-width: 1199px)
			font-size: 26px
			
		@media (max-width: 991px)
			font-size: 30px  
			
		@media (max-width: 575px)
			font-size: 16px 
		

	&__title + &__content
		padding-top: 2em 

	

	&__content
		line-height: 1.9em 
		
		
		p:not(:last-child)
			margin-bottom: 1.9em 
			

		address
			font-style: normal
			
			

	&__columns
		columns: 2
		column-gap: 130px
		
		@media (max-width: 1199px)
			column-gap: 100px
			
		@media (max-width: 991px)
			columns: 1
		
	&__image
		img
			display: block
			max-width: 100%
			margin: 0 auto 
		


	&__socials
		list-style: none 
		color: inherit
		margin-left: -30px 
		
		a
			color: inherit
			position: relative
			padding-left: 30px 
			
			&:hover
				text-decoration: underline
				


			img
				position: absolute
				max-width: 16px
				left: 0
				top: 10px
				transform: translateY(-50%) 
	




.decorated-title
	line-height: 1.4em
	position: relative
	letter-spacing: -0.005em 
	
	&:before
		content: ''
		width: 0
		height: 0
		border-style: solid
		border-width: 15px 0 15px 14px
		border-color: transparent transparent transparent #000000
		position: absolute
		left: -25px
		top: 0.75em
		transform: translateY(-50%)
		
		@media (max-width: 575px)
			border-width: 8px 0 8px 8px
			left: -15px
		





.video-block
	a
		display: block
		width: 100%
		padding-top: 48.4%
		background-repeat: no-repeat 
		background-position: 50% 50%
		background-size: cover  
		position: relative
		

		&:before
			content: ''
			width: 90px
			height: 63px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			background-image: url(../assets/svg/play.svg) 
			background-size: 100% 
			transition: all 0.3s ease
			
			@media (max-width: 575px)
				width: 50px
				height: 35px
			
		&:hover:before
			transform: translate(-50%, -50%) scale(1.2)
		






.team-member
	width: 50%
	position: relative
	z-index: 1 
	margin-bottom: 80px 
	
	@media (max-width: 575px)
		margin-bottom: 50px 
	
	@media (max-width: 767px)
		width: 100%
	
	@media (min-width: 768px)
		&:nth-last-of-type(-n+2)
			margin-bottom: 0 
			
	@media (max-width: 767px)
		&:last-child
			margin-bottom: 0
		
	&:before
		content: ''
		width: 0
		height: 0
		border-style: solid
		border-width: 25px 0 25px 28px
		border-color: transparent transparent transparent #fff
		position: absolute
		left: 0
		bottom: 22px
		z-index: 2
		
		@media (max-width: 575px)
			border-width: 11px 0 11px 9px
			bottom: 45px
	
	&__image
		display: block
		width: 100%
		position: relative
		z-index: 1 
		
	&__desc
		position: absolute
		bottom: 0
		left: 0
		right: 0
		width: 100%
		z-index: 3
		padding: 20px 65px 26px
		color: #fff
		
		@media (max-width: 575px)
			padding: 20px 30px
			font-size: 16px 
		
		&__name,
		&__position
			display: block
			font-size: 20px
			line-height: 30px  
			
		&__name
			font-weight: 700 
			margin-bottom: -2px 





.map
	height: 700px
	
	.gmnoprint,
	.gmnoscreen,
	.gm-style-cc
		display: none!important
		
	@media (max-width: 991px)
		height: 500px
	
	@media (max-width: 575px)
		height: 200px





.vacancy
	width: 50%
	display: block
	color: #000
	
	@media (max-width: 991px)
		width: 100%
	
	&__cover
		display: block
		width: 100% 
	
	.text-block
		color: inherit
		
		@media (min-width: 1200px)
			padding-top: 115px
			padding-bottom: 115px  