#footer 
    background-color: #a29165
    padding: 65px 50px
    color: white
    @media (max-width: 1199px)
        padding: 40px 20px
        
    @media (max-width: 991px)
        padding-left: 0
        padding-right: 0  

    @media (max-width: 575px)
        padding: 25px 10px

    .container
        max-width: 100% 
    
    a 
        color: white
        
    .logo
        a
            border: 1px solid #fff
            color: inherit
            display: block
            
            @media (max-width: 767px)
                width: 75px
            
            img
                display: block
                max-width: 100% 
    
    .contact-info
        font-size: 16px
        font-weight: 300
        line-height: 2.11em  
        padding-left: 120px
        margin-top: -10px
        margin-bottom: -10px  

        
        @media (max-width: 1300px)
            padding-left: 80px 
        
        @media (max-width: 1199px)
            padding-left: 60px
        @media (max-width: 991px)
            padding-left: 15px
            
        @media (max-width: 767px)
            font-size: 14px
            line-height: 1.5em
            margin-top: -5px
            padding-left: 0
            letter-spacing: -0.015em 
            
        @media (max-width: 575px)
            display: none

        address
            font-style: normal 
            
        a
            color: inherit
            
            &:hover
                text-decoration: underline
    
    
    .footer-menu 
        list-style-type: none

        ul
            padding-left: 50px 
            margin-top: -10px 
            
            @media (max-width: 1199px)
                padding-left: 35px 
            
            @media (max-width: 991px)
                padding-left: 30px
         
            @media (max-width: 767px)
                padding-left: 0 
                
            @media (max-width: 575px)
                //text-align: right
                
        li 
            display: block
            a
                color: #fff
                font-size: 22px
                font-weight: 600
                line-height: 1.6
                position: relative
                
                @media (max-width: 767px)
                    font-size: 16px
                     
                &:after
                    content: ''
                    display: block
                    height: 1px
                    position: absolute
                    left: 0
                    right: 0
                    bottom: -4px
                    margin: auto
                    max-width: 0
                    transition: all .2s ease-out
                    background: #fff
                &:hover:after
                    max-width: 100%

    .mailchimp-form
        margin-left: 87px
        margin-top: -2px 
        
        @media (max-width: 1300px)
            margin-left: 20px 
            
        @media (max-width: 1199px)
            margin-left: 0
            //max-width: 100%
             
        @media (max-width: 991px)
            display: none
            
    @media (max-width: 991px)
        .form-col
            display: none
    