/*header*/
header
    background-color: $white-color

    .container-fluid
        & > .row
            height: 150px
            @media (max-width: 767px)
                height: 105px
      
    .logo
        display: flex
        align-items: flex-end
        img 
            display: block
            max-height: 100%
        &__img
            @media (max-width: 767px)
                height: 70px
        &__text
            font-style: italic
            padding-left: 20px
            padding-block-end: 15px
            font-size: 17px
            line-height: 22px
            max-width: 170px
            font-weight: 300
            @media (max-width: 767px)
                font-size: 12px
                line-height: 1.4
                padding-left: 15px
                padding-bottom: 5px
            @media (max-width: 576px)
                font-size: 10px
                line-height: 1.4
                padding-left: 10px
                padding-block-end: 5px
                max-width: 110px
    
    .hamburger
        height: 75px
        width: 75px
        margin: 0
        position: fixed
        right: 30px
        top: 32px
        z-index: 102
        @media (max-width: 767px)
            width: 50px
            height: 50px
            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
                width: 20px
                height: 3px
            .hamburger-inner:before
                top: -6px
            .hamburger-inner:after
                bottom: -6px

        &.is-active
            position: fixed

        .hamburger-box
            display: block
            margin: 0 auto
            @media (max-width: 767px)
                width: 20px

        &:focus
            outline-style: none

    // side menu not opened
    .background-block-menu
        background-color: $theme-color
        position: fixed
        z-index: 9
        right: 30px
        top: 30px
        width: 75px
        height: 75px
        padding: 0px
        transform: rotate(135deg)
        transition: .4s, .6s, .6s, .6s, .6s, .6s
        transition-property: transform, width, height, right, top, padding
        transition-delay: 1.2s, .6s, .6s, .6s, .6s, .6s
        transform-origin: center center
        overflow: hidden
        z-index: 101
        @media (max-width: 767px)
            width: 50px
            height: 50px

        &.fixed
            box-shadow: 0 0 10px rgba(0,0,0,.1)

        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .header-menu
            margin-top: 80px
            margin-right: 10px
            .lang-block
                position: absolute
                right: 40px
                .lang_selector
                    color: $white-color
                    text-align: center
                    opacity: 0
                    text-transform: uppercase
                    font-size: 20px
                    transition: 0.2s
                    transition-delay: 0.7s
                    a
                        color: $white-color
    
    #menu-main-menu
        list-style: none
        li
            padding: 15px
            opacity: 0
            transform: translateX(100%)
            transition: opacity .4s, transform .6s
            transition-delay: 0s
            @media (max-height: 600px) and (min-width: 1200px)
                padding: 10px
            a
                color: $white-color 
                font-size: 65px
                font-weight: 300
                display: inline-block   
                position: relative
                line-height: 1.2
                font-style: italic
                &:after
                    content: ''
                    display: block
                    height: 4px
                    position: absolute
                    left: 0
                    right: 0
                    bottom: -4px
                    margin: auto
                    max-width: 0
                    transition: all .2s ease-out
                    background: #fff
                &:hover:after
                    max-width: 100%

                @media (max-height: 900px)
                    font-size: 52px
                @media (max-height: 700px)
                    font-size: 42px
                    &:after
                        height: 3px
                @media (max-height: 600px)
                    font-size: 36px
                    &:after
                        height: 2px
                @media (max-height: 500px)
                    font-size: 28px

                @media (max-width: 991px)
                    font-size: 36px
                @media (max-width: 991px) and (max-height: 700px)
                    font-size: 32px
                    &:after
                        height: 2px
                @media (max-width: 991px) and (max-height: 560px)
                    font-size: 28px

            &.current-menu-item
                a 
                    font-style: normal
                    &:after
                        max-width: 100%
                
    // side emu opened
    .background-block-menu.menu-open
        right: 0
        top: 0px
        bottom: 0px
        width: 520px
        height: 100vh
        padding: 30px
        transform: rotate(0deg)
        transition: .4s, .6s, .6s, .6s, .6s, .6s
        transition-property: transform, width, height, right, top, padding
        transition-delay: 0s, .4s, .4s, .4s, .4s, .4s
        @media (max-width: 991px)
            width: 320px
        @media (max-width: 576px)
            width: 100%
            padding: 25px
        .header-menu
            
            .lang_selector
                opacity: 1
                transition: 0.4s
                transition-delay: 0.3s
            
            .menu-main-menu-container
                opacity: 1
                height: auto
                transition: 0.4s
                transition-delay: 0.3s
            
    
    #menu-main-menu
        li.list-menu-visible
            opacity: 1
            transform: translateX(0%)
            transition: 0.4s ease-out
            transition-delay: .6s
        