.team,
.cases

	&-container
		display: flex
		justify-content: flex-start
		align-items: stretch
		flex-wrap: wrap
		
		@media (max-width: 1499px)
			padding: 0
		

.cases

	&-container
		padding: 0
		max-width: 100% 
			

.vacancies

	&-container
		@extend .container
		
		display: flex
		justify-content: flex-start
		align-items: stretch
		flex-wrap: wrap
		
		@media (max-width: 1499px)
			padding: 0
			


.clients

	.container
		padding-top: 100px
		padding-bottom: 20px
		
		@media (max-width: 1199px)
			padding-top: 80px
			padding-bottom: 30px
			
		@media (max-width: 767px)
			padding-top: 50px
			padding-bottom: 20px   
			
		@media (max-width: 420px)
			.col-6
				+col-width(100%)
		
		a
			display: inline-block
			margin-bottom: 80px 
			
			@media (max-width: 1199px)
				margin-bottom: 50px 
				
			@media (max-width: 767px)
				margin-bottom: 30px 
			
			img
				display: block
				max-width: 100%
				margin: 0 auto 



.about-us,
.general-page,
.single-case
	@media (max-width: 1499px)
		.container
			padding: 0
			
