.team,
.cases,
.vacancies

	&-container
		display: flex
		justify-content: flex-start
		align-items: stretch
		flex-wrap: wrap
		
		@media (max-width: 1499px)
			padding: 0
		

.cases

	&-container
		padding: 0
		max-width: 100% 
			
		


.clients

	.container
		padding-top: 60px
		padding-bottom: 60px  
		
			
		@media (max-width: 767px)
			padding-top: 50px
			padding-bottom: 50px   
			
		@media (max-width: 420px)
			.col-6
				+col-width(100%)

		.client-col
			text-align: center
		
		a,
		span
			display: inline-block
			padding: 40px 0
			
			@media (max-width: 1199px)
				padding: 25px 0
				
			@media (max-width: 767px)
				padding: 15px 0
				
			@media (max-width: 575px)
				padding: 38px 0
			
			img
				display: block
				max-width: 100%
				margin: 0 auto 
				
		.hidden
			display: none
			



.about-us,
.general-page,
.single-case
	@media (max-width: 1499px)
		.container
			padding: 0
			
