.hero-slider
	margin-bottom: 0!important 
	opacity: 0
	height: calc(100vh - 300px)
	max-height: 800px
	min-height: 400px

	&.slick-initialized
		opacity: 1
		transition: all 1s ease
	
	.slick-list,
	.slick-track
		height: 100%

	.slide
		height: 100%
		padding: 0 100px
		background-position: 50% 50%
		background-repeat: no-repeat 
		background-size: cover  
		position: relative
		display: flex
		align-items: center
		justify-content: flex-start

		.slider-description 
			font-style: italic 
			width: 100%
			
			
			.slider-title,
			.slider-subtitle
				transform: translateY(40%)
				opacity: 0
				transition: all 1s ease-out
				
			.slider-title 
				font-size: 60px
				color: #fff
				font-weight: 100
			
			.slider-subtitle 
				font-size: 35px
				color: #fff
				font-weight: 100
				
		&.slick-active
			.slider-description 

				.slider-title
					transition-delay: 0.5s
					transform: translateY(0)
					opacity: 1
					
				.slider-subtitle 
					transition-delay: 1s
					transform: translateY(0)
					opacity: 1

	.slick-dots
		position: absolute
		bottom: 65px
		display: flex
		align-items: center
		justify-content: center
		
		li
			height: auto
			width: auto
			margin: 0 20px
			
			.slick-triangle
				display: block
				overflow: hidden
				
				path
					fill: #fff
					

				polygon
					transform: translateX(0)
					transition: all 0.3s ease
					fill: #fff
					width: 100%
					
			&.slick-active
				.slick-triangle
					polygon
						transform: translateX(100%)

@keyframes top
    from
        opacity: 0
        transform: translateY(20%)
    to
        opacity: 1
        transform: translateY(0)
        