
@font-face{
    font-family: "Archer-BoldItal";
    font-style: italic;
	font-weight: bold;
    src : url("../assets/fonts/Archer-BoldItal-Pro.otf")
}
@font-face{
    font-family: "Archer-Bold";
    font-style: normal;
	font-weight: bold;
    src : url("../assets/fonts/Archer-Bold-Pro.otf")
}
@font-face{
    font-family: "Archer-Book";
    font-style: normal;
    src : url("../assets/fonts/Archer-Book-Pro.otf")
}
@font-face{
    font-family: "Archer-BookItal";
    font-style: italic;
    src : url("../assets/fonts/Archer-BookItal-Pro.otf")
}


$black_clr: #000;
$white_clr: #fff;
$theme_clr: #A29165;

@mixin rotate-button-menu($deg, $time) {
    -o-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
    transition: $time linear;
}


body {
    overflow-x: hidden;
}

body.body-fixed{
    overflow: hidden;
    &:before {
        content: '';
        position:absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $black_clr;
        opacity: 0.2;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*header*/
header {
    background-color :$white_clr ;
    height: 150px;
    .mainheader {
        .logo {
            padding: 17px 2px;
            .wrapp-logo {
                display: inline-block;
                position: relative;
                border: 1px solid #fff;
                img {
                    height: 115px;
                    width: auto;
                }
            }
        }
        .wrapp-header-text {
            display: inline-block;
            vertical-align: bottom;
            padding-left: 15px;
            p {
                font-family: Archer-BookItal;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .hamburger {
            height: 90px;
            width: 90px;
            margin: 0;
            position: absolute;
            right: 30px;
            top: 32px;
            z-index: 10;
            &:focus {
                outline-style: none;
            }
        }
        .background-block-menu{
            background-color: $theme_clr;
            position: absolute;
            z-index: 9;
            right: 30px;
            top: 30px;
            width: 90px;
            height: 90px;
            padding: 0px;
            transform: rotate(45deg);
            transition: 0.2s;
            transition-property: width , height ,transform, top , right, padding;
            transition-delay: 0.8s , 0.8s ,1s ,0.8s ,0.8s, 0.8s ;
            .header-menu {
                margin-top: 80px;
                margin-right: 10px;
                .lang-block {
                    position: absolute;
                    right: 40px;
                    .lang_selector {
                        color: $white_clr;
                        text-align: center;
                        opacity: 0;
                        text-transform: uppercase;
                        font-size: 20px;
                        transition: 0.2s;
                        transition-delay: 0.7s;
                        a {
                          color: $white_clr;  
                        }
                    }
                }
            }
            .list-menu-block {
                opacity: 0;
                transition: 0.2s;
                transition-delay: 0.8s;
            }
            html {
                overflow: scroll;
                overflow-x: hidden;
            }
            ::-webkit-scrollbar {
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
            /* optional: show position indicator in red */
            ::-webkit-scrollbar-thumb {
                background: transparent;
            }
        }
        #menu-main-menu {
            list-style: none;
            padding-top: 50px;
            li {
                line-height: 40px;
                padding: 15px 0;
                opacity: 0;
                transform: translateX(100%);
                transition: 0.2s;
                transition-delay: 0s;
                a {
                    font-family: Archer-BookItal;
                    font-size: 40px;
                    color :$white_clr ;
                    font-weight: 100;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .background-block-menu.scroll {
            overflow-y: auto;
            overflow-x: hidden;
        }
        .background-block-menu.menu-open{
            background-color: $theme_clr;
            position: absolute;
            z-index: 9;
            right: 0;
            top: 0px;
            width: 25vw;
            height: 101vh;
            padding-right: 30px;
            padding-top: 30px;
            padding-bottom: 50px;
            transform: rotate(0deg);
            transition: 0.2s;
            transition-property: width , height ,transform, padding-right , padding-top, padding-bottom, top , right;
            transition-delay: 0.2s , 0.2s ,0s ,0.2s ,0.2s ,0.2s ,0.2s, 0.2s ;
            .header-menu {
                
                .lang_selector {
                    opacity: 1;
                    transition: 0.4s;
                    transition-delay: 0.3s;
                }
                .menu-main-menu-container {
                    opacity: 1;
                    height: auto;
                    transition: 0.4s;
                    transition-delay: 0.3s;
                }
            }
            .list-menu-block {
                opacity: 1;
                transition: 0.2s;
                transition-delay: 0.4s;
                
            }
        }
        #menu-main-menu {
            li.list-menu-visible {
                opacity: 1;
                transform: translateX(10%);
                transition: 0.2s;
                transition-delay: 0.6s;
            }
        }
        
    }
}

@media only screen and (max-width : 1440px) {
    
    header {
        .mainheader {
            .background-block-menu.menu-open {
                width: 30vw;
            }
        }
    }
}

@media only screen and (max-width : 767px) {
    
    header {
        .mainheader {
            .background-block-menu.menu-open {
                width: 50vw;
            }
        }
    }
}

@media only screen and (max-width : 500px) {
    
    body.body-fixed{
        &:before {
            display: none;
        }
    }
    header {
        height: 120px;
        .mainheader {
            .logo {
                padding: 15px 0px;
                .wrapp-logo {
                    z-index: 15;
                    img {
                        height: 85px;
                    }
                }
            }
            .wrapp-header-text {
                padding-left: 5px;
                width: 45%;
                p {
                    margin-bottom: 0;
                }
            }
            .hamburger {
                right: 15px;
                top: 17px;
            }
            .background-block-menu{
                right: 24px;
                top: 24px;
                width: 70px;
                height: 70px;
            }
            .background-block-menu.menu-open {
                width: 100vw;
            }
        }
    }
}

@media only screen and (max-width : 320px) {
    
    // body.body-fixed{
    //     &:before {
    //         display: none;
    //     }
    // }
    
    // header {
    //     .logo {
    //         .wrapp-logo {
    //             z-index: 15;
    //         }
    //     }
    //     .mainheader {
    //         .background-block-menu.menu-open {
    //             width: 100vw;
    //         }
    //     }
    // }
}