@font-face {
  font-family: "Archer-BoldItal";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/Archer-BoldItal-Pro.otf"); }
@font-face {
  font-family: "Archer-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Archer-Bold-Pro.otf"); }
@font-face {
  font-family: "Archer-Book";
  font-style: normal;
  src: url("../assets/fonts/Archer-Book-Pro.otf"); }
@font-face {
  font-family: "Archer-BookItal";
  font-style: italic;
  src: url("../assets/fonts/Archer-BookItal-Pro.otf"); }
body {
  overflow-x: hidden;
  font-family: Archer-BookItal; }

body.body-fixed {
  overflow: hidden; }
  body.body-fixed:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*header*/
header {
  background-color: #fff;
  height: 150px; }
  header .mainheader .logo {
    padding: 17px 2px; }
    header .mainheader .logo .wrapp-logo {
      display: inline-block;
      position: relative;
      border: 1px solid #fff; }
      header .mainheader .logo .wrapp-logo img {
        height: 115px;
        width: auto; }
  header .mainheader .wrapp-header-text {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px; }
    header .mainheader .wrapp-header-text p {
      font-family: Archer-BookItal;
      font-size: 16px;
      font-weight: 600; }
  header .mainheader .hamburger {
    height: 90px;
    width: 90px;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 32px;
    z-index: 10; }
    header .mainheader .hamburger:focus {
      outline-style: none; }
  header .mainheader .background-block-menu {
    background-color: #A29165;
    position: absolute;
    z-index: 9;
    right: 30px;
    top: 30px;
    width: 90px;
    height: 90px;
    padding: 0px;
    transform: rotate(45deg);
    transition: 0.2s;
    transition-property: width , height ,transform, top , right, padding;
    transition-delay: 0.8s, 0.8s, 1s, 0.8s, 0.8s, 0.8s;
    /* optional: show position indicator in red */ }
    header .mainheader .background-block-menu .header-menu {
      margin-top: 80px;
      margin-right: 10px; }
      header .mainheader .background-block-menu .header-menu .lang-block {
        position: absolute;
        right: 40px; }
        header .mainheader .background-block-menu .header-menu .lang-block .lang_selector {
          color: #fff;
          text-align: center;
          opacity: 0;
          text-transform: uppercase;
          font-size: 20px;
          transition: 0.2s;
          transition-delay: 0.7s; }
          header .mainheader .background-block-menu .header-menu .lang-block .lang_selector a {
            color: #fff; }
    header .mainheader .background-block-menu .list-menu-block {
      display: none;
      transition: 0.2s;
      transition-delay: 0.8s; }
    header .mainheader .background-block-menu html {
      overflow: scroll;
      overflow-x: hidden; }
    header .mainheader .background-block-menu ::-webkit-scrollbar {
      width: 0px;
      /* remove scrollbar space */
      background: transparent;
      /* optional: just make scrollbar invisible */ }
    header .mainheader .background-block-menu ::-webkit-scrollbar-thumb {
      background: transparent; }
  header .mainheader #menu-main-menu {
    list-style: none;
    padding-top: 50px; }
    header .mainheader #menu-main-menu li {
      line-height: 40px;
      padding: 15px 0;
      opacity: 0;
      transform: translateX(100%);
      transition: 0.2s;
      transition-delay: 0s; }
      header .mainheader #menu-main-menu li a {
        font-family: Archer-BookItal;
        font-size: 40px;
        color: #fff;
        font-weight: 100; }
        header .mainheader #menu-main-menu li a:hover {
          text-decoration: underline; }
  header .mainheader .background-block-menu.scroll {
    overflow-y: auto;
    overflow-x: hidden; }
  header .mainheader .background-block-menu.menu-open {
    background-color: #A29165;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0px;
    width: 25vw;
    height: 101vh;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    transform: rotate(0deg);
    transition: 0.2s;
    transition-property: width , height ,transform, padding-right , padding-top, padding-bottom, top , right;
    transition-delay: 0.2s, 0.2s, 0s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s; }
    header .mainheader .background-block-menu.menu-open .header-menu .lang_selector {
      opacity: 1;
      transition: 0.4s;
      transition-delay: 0.3s; }
    header .mainheader .background-block-menu.menu-open .header-menu .menu-main-menu-container {
      opacity: 1;
      height: auto;
      transition: 0.4s;
      transition-delay: 0.3s; }
    header .mainheader .background-block-menu.menu-open .list-menu-block {
      display: block;
      transition: 0.2s;
      transition-delay: 0.4s; }
  header .mainheader #menu-main-menu li.list-menu-visible {
    opacity: 1;
    transform: translateX(10%);
    transition: 0.2s;
    transition-delay: 0.6s; }

@media only screen and (max-width: 1440px) {
  header .mainheader .background-block-menu.menu-open {
    width: 30vw; } }
@media only screen and (max-width: 767px) {
  header .mainheader .background-block-menu.menu-open {
    width: 50vw; }

  #main .our-story {
    padding-left: 20px;
    padding-right: 20px; }

  #footer .footer-menu, #footer .subscribe, #footer .contact-info, #footer .logo {
    height: 160px; } }
@media only screen and (max-width: 500px) {
  body.body-fixed:before {
    display: none; }

  header {
    height: 120px; }
    header .mainheader .logo {
      padding: 15px 0px; }
      header .mainheader .logo .wrapp-logo {
        z-index: 15; }
        header .mainheader .logo .wrapp-logo img {
          height: 85px; }
    header .mainheader .wrapp-header-text {
      padding-left: 5px;
      width: 45%; }
      header .mainheader .wrapp-header-text p {
        margin-bottom: 0; }
    header .mainheader .hamburger {
      right: 15px;
      top: 17px; }
    header .mainheader .background-block-menu {
      right: 24px;
      top: 24px;
      width: 70px;
      height: 70px; }
    header .mainheader .background-block-menu.menu-open {
      width: 100vw; } }
#main #carousel .carousel-indicators .triangle {
  position: absolute; }
#main #carousel .carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 15;
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
  list-style: none; }
  #main #carousel .carousel-indicators .active {
    width: 40px;
    height: 0px;
    margin: 0 30px 50px 0;
    background-color: unset; }
  #main #carousel .carousel-indicators li {
    display: inline-block;
    width: 40px;
    height: 0px;
    margin: 0 30px 50px 0;
    text-indent: -999px;
    cursor: pointer;
    background-color: unset;
    border: unset;
    border-radius: 10px;
    padding-right: 25px; }
  #main #carousel .carousel-indicators .active svg polygon {
    fill: none; }
#main #carousel .carousel-inner > .item {
  height: 300px; }
  #main #carousel .carousel-inner > .item > a > img, #main #carousel .carousel-inner > .item img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%; }
#main #carousel .carousel-inner .slider-description {
  position: absolute;
  z-index: 100;
  top: 60%;
  opacity: 0;
  left: 100px;
  font-family: Archer-BookItal; }
  #main #carousel .carousel-inner .slider-description .slider-title {
    font-size: 60px;
    color: #fff;
    font-weight: 100; }
  #main #carousel .carousel-inner .slider-description .slider-subtitle {
    font-size: 35px;
    color: #fff;
    font-weight: 100; }
#main #carousel .carousel-inner .active .slider-description {
  animation-name: top;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  top: 35%;
  opacity: 1; }
#main .our-story {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 400px;
  font-family: Archer-BookItal; }
  #main .our-story p {
    font-size: 35px; }
  #main .our-story a {
    font-size: 25px;
    color: #333;
    text-decoration: none; }

#footer {
  background-color: #a29165;
  padding: 40px 0 40px 0;
  color: white; }
  #footer a {
    color: white; }
  #footer .logo {
    text-align: center; }
    #footer .logo img {
      border: 1px solid #fff; }
  #footer .contact-info {
    font-size: 20px; }
    #footer .contact-info .textwidget {
      white-space: pre; }
  #footer .footer-menu {
    font-size: 24px;
    list-style: none; }
  #footer .subscribe {
    font-size: 20px; }
    #footer .subscribe .subcribe-submit input {
      background-color: #A29165;
      border: 1px solid #fff;
      box-shadow: none;
      padding: 5px 20px;
      border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s, visibility 0.5s; }
    #footer .subscribe #form_subcribe.error {
      position: relative; }
      #footer .subscribe #form_subcribe.error:before {
        content: "\2718";
        color: red;
        position: absolute;
        top: 12px; }
      #footer .subscribe #form_subcribe.error #email {
        padding-left: 20px; }
    #footer .subscribe #form_subcribe.success {
      position: relative; }
      #footer .subscribe #form_subcribe.success:before {
        content: "\2714";
        color: green;
        position: absolute;
        top: 12px; }
      #footer .subscribe #form_subcribe.success #email {
        padding-left: 20px; }
      #footer .subscribe #form_subcribe.success .subcribe-submit input {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s; }
    #footer .subscribe #email {
      background-color: #a29165;
      border: none;
      border-bottom: white 1px solid;
      font-size: 18px;
      width: 85%;
      max-width: 275px;
      margin: 10px 0 10px 0; }
    #footer .subscribe #email::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1;
      /* Firefox */ }
    #footer .subscribe #email:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white; }
    #footer .subscribe #email::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white; }
    #footer .subscribe .disclaimer {
      opacity: 0.4; }

@keyframes top {
  from {
    opacity: 0;
    top: 60%; }
  to {
    opacity: 1;
    top: 35%; } }
@media (max-width: 776px) and (min-width: 500px) {
  #main #carousel .carousel-inner .active .slider-description {
    top: 20%; }
    #main #carousel .carousel-inner .active .slider-description .slider-title {
      font-size: 40px; }
    #main #carousel .carousel-inner .active .slider-description .slider-subtitle {
      font-size: 25px; }

  @keyframes top {
    from {
      opacity: 0;
      top: 60%; }
    to {
      opacity: 1;
      top: 20%; } } }
@media (max-width: 500px) {
  #main #carousel .carousel-inner .slider-description {
    display: none; }
  #main #carousel .triangle {
    height: 50%; }
  #main #carousel .carousel-indicators {
    bottom: 0px;
    height: 40px; }
    #main #carousel .carousel-indicators li, #main #carousel .carousel-indicators .active {
      margin: 0 0px 5px 0px; } }
@media (max-width: 400px) {
  #footer .footer-menu, #footer .subscribe, #footer .contact-info, #footer .logo {
    width: 100%; }
  #footer .footer-menu, #footer .logo {
    text-align: left; }
  #footer .footer-menu ul {
    padding-left: 0; } }

/*# sourceMappingURL=theme-style.css.map */
